{% extends "poll/base.html" %}

{% block main%}
  <h1></h1>
  <p dir = "rtl">شكرا لك لتعبئة الاستبيان, في حال
       أردت الدخول على سحب لبطاقة قسيمة شرائية من جرير بقيمة 100 ريال, الرجاء تعبئة خانة الإيميل أو حساب تويتر للدخول في السحب على البطاقة ثم اضغط تسليم الاستبيان.أو اترك الحقلين خاليين واضغط تسليم الاستبيان اذا لم ترد المشاركة في السحب.</p>
  <form method = "POST" dir= "rtl">
    {% csrf_token %}
    {{ communication_choice }}
    <input type = "submit" value = "تسليم الاستبيان">

  </form>


{% endblock %}
